<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">YbBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Anasayfa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article:articles' %}" tabindex="-1">Makaleler</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'article:dashboard' %}">Kontrol Paneli</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:logout' %}">Çıkış yap</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:register' %}">Kayıt ol</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="{% url 'user:login' %}">Giriş yap</a>
            </li>
          {% endif %}          
      </ul>
    </div>
  </nav>