{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr> 
<p>
    Merhaba ziyaretçi, ben Ümit DEMİR. Burda yaptığım şey aslında python'ın django framework'ü ile bir web sitesi tasarlamak<br>
    Bunu neden mi istiyorum? Zaten pythona bi hayranlığım var. Çünkü tek bir dil öğrenerek onun alt frameworkleri sayesinde farklı dallarda uygulama geliştirebiliyoruz
</p>

{% endblock body %}