{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Makale ekle</h3>
            <hr>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{form|crispy}}
                <button type="submit" class="btn btn-danger">Makaleyi oluştur</button>
             </form>
        </div>
    </div>

{% endblock body %}