{% extends "layout.html" %}

{% block body %}
<div class="row">
        <div class="col-lg-8">
<h3>Makaleler</h3>
<form>
    {% csrf_token %}
    <input type="text" name="keyword" class="input input-md-3" placeholder="ara">
    <button type="submit" class="btn btn-danger">Ara</button>
</form>
<hr>
{% if articles %}
{% for article in articles  %}


        <!-- Post Content Column -->
        
          
          <!-- Title -->
          <a href="{% url 'article:detail' article.id %}"><h1 class="mt-4">{{article.title}}</h1></a>
  
          <!-- Author -->
          <p class="lead">
            by
           {{article.author.username}}
          </p>
  
          <hr>
  
          <!-- Date/Time -->
          <p>{{article.created_date}}</p>
  
          <hr>
          {% if article.article_image %}
            <img src="{{article.article_image.url}}" alt="" class="img-fluid rounded">
          {% else %}
          {% endif %}
          
          <hr>
          <p class="content">{{article.content|safe|truncatewords:30}}</p>
        <a style = "float:right;"href="/articles/article/{{article.id}}" class = "btn btn-success">Devamını oku</a>
          <hr>
  
          <br>
          
          <style>
            p.content img{
                max-width: 700px;
            }
          </style>
          
          
  
          
          
  
        </div>
  
        
        
  
      </div>
{% endfor %}
{% else %}
<div class="alert alert-danger">makale bulunamadı</div>
{% endif %}
{% endblock body %}