{% extends "layout.html" %}
{% block body %}
<div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">
          
          <!-- Title -->
          <h1 class="mt-4">{{article.title}}</h1>
  
          <!-- Author -->
          <p class="lead">
            by
           {{article.author.username}}
          </p>
  
          <hr>
  
          <!-- Date/Time -->
          <p>{{article.created_date}}</p>
  
          <hr>
          {% if article.article_image %}
            <img src="{{article.article_image.url}}" alt="" class="img-fluid rounded">
          {% else %}
          {% endif %}
          
          <hr>
          <p class="content">{{article.content|safe}}</p>
          <hr>
        
  
          
          <div class="card my-4">
              <h5 class="card-header">Yorum ekle:</h5>
              <div class="card-body">
                <form method="post" action="{% url 'article:comment' article.id %}">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="exampleFormControlInput1">İsim</label>
                      <input name = "comment_author" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Örn: Murat">
                    </div>
                  <div class="form-group">
                      <label for="exampleFormControlInput1">Yorum:</label>
                    <textarea name = "comment_content" class="form-control" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Ekle</button>
                </form>
              </div>
            </div>
            <h4>Yorumlar</h4>
            <hr>
            {% if comments %}
              {% for comment in comments %}
              <div class="media mb-4">
                  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                  <div class="media-body">
                    <h5 class="mt-0">{{comment.comment_author}}</h5>
                    <small>Tarih: {{comment.comment_date}}</small><br>
                    {{comment.comment_content}}
                   
                  </div>
                </div>
                <hr>
              {% endfor %}
              
            {% else %}
            <div class = "alert alert-danger">Bu makaleye herhangi bir yorum yazılmamış. İlk yorum yapan sen ol</div>
            {% endif %}
          <style>
            p.content img{
                max-width: 700px;
            }
          </style>
          
          
  
          
          
  
        </div>
  
        
        
  
      </div>
{% endblock body %}