{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Giriş yap</h3>
            <hr>
            <form method="POST">
                {% csrf_token %}

                {{form|crispy}}
                <button type="submit" class="btn btn-danger">Giriş yap</button>
             </form>
        </div>
    </div>

{% endblock body %}